<!DOCTYPE html>
<html lang="cs" >
<head>
    <title>Password change</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body class=" dashboard">

<form action="/change_password" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
        </table>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>


</body>